.blog-action-btn {
    padding: 13px 10px 10px 10px;
    width: 140px;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}