.member-details-container {
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
}

.member-photo-container {
    margin: 0 20px 10px 0;
    width: 150px;
    height: 150px;
    border-radius: 50px 50px 50px 0px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 15px 15px 15px 0px;
    }
}

.member-name {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(165, 87, 177);
    font-family: 'IBM Plex Sans', sans-serif;
}

.member-place {
    font-size: 15px;
    font-weight: 500;
    font-family: 'IBM Plex Sans', sans-serif;
}