<div class="course-outer-container">
    <div class="course-image">
        <img src="../../../assets/images/Image 4.png" alt="course image">
    </div>
    <div class="course-details-container">
        <div class="course-title-rating-container">
            <div class="course-title">Title of the course within 2 lines</div>
            <div class="course-rating">
                <i class="fas fa-star-half-alt star-icon"></i>
                <div class="rating">2.5</div>
            </div>
        </div>
        <div class="course-instructor-price-container">
            <div class="course-instructor-container">
                <div class="profile-img">
                    <img [src]="profileImgPath" alt="profile image">
                </div>
                <div class="course-instructor-name">Mounika Murugeshan</div>
            </div>
            <div class="course-price">&dollar;290.5</div>
        </div>
    </div>
</div>

