.badges-container {
    margin: 20px 0;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 5px;
    flex-wrap: wrap;
}

.badge {
    margin: 0 20px 0 0;
    padding: 8px 15px;
    font-size: 15px;
    border-radius: 20px;
    color: rgb(75, 75, 74);
    background-color: rgb(244, 245, 239);
}

.badge:hover {
    cursor: pointer;
    background-color: rgb(199, 214, 182);
}