<div class="backdrop-filter" (click)="onClose()"></div>
<div class="new-blog-post-container">
    <div class="add-your-blog-title">{{ modalHeading }}</div>
    <div class="blog-title-container">
        <input type="text" [placeholder]="nameYourBlogText" [value]="blogToDisplay!=undefined ? blogToDisplay.title : null" #blogTitle>
    </div>
    <div class="dropdown-container">
        <label for="tag" class="dropdown-label">{{ blogTypeDropdownLabel }}</label>
        <select id="tag" name="tags" class="tags-dropdown" [ngModel]="blogToDisplay!=undefined && blogToDisplay.type" #blogType>
            <option *ngFor="let blog of blogTypes" [value]="blog">{{ blog }}</option>
        </select>
    </div>
    <textarea name="blog-content" rows="10" cols="30" class="blog-content" [placeholder]="writeContentHere" [value]="blogToDisplay!=undefined ? blogToDisplay.details : null" #blogContent></textarea>
    <div class="blog-action-btns-container">
        <lbk-blog-action-btn [btnText]="cancelBtnText" [bgColor]="cancelBtnBgColor" (click)="onClose()"></lbk-blog-action-btn>
        <lbk-blog-action-btn [btnText]="actionBtnText" [bgColor]="addBtnBgColor" [fontColor]="addBtnFontColor" (click)="onActionBtnClick()"></lbk-blog-action-btn>
    </div>
        
</div>