/* ----------------- START :: Container styles ---------------------- */
.background-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #d9e2cb;
}

.inner-container {
    margin: auto;
    width: 90%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 12px;
    border: 20px solid rgba(230, 235, 222, 0.5);
    backdrop-filter: blur(20px) saturate(100%);
}

.side-bar {
    width: 20%;
}

.main-stage-container {
    padding: 30px 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

li-banner {
    width: 100%;
}
/* ----------------- END :: Container styles ---------------------- */

.courses-container, .courses-container-1 {
    width: 100%;
    padding: 0 45px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.courses-heading {
    font-size: 16px;
    font-weight: 600;
    color: #2d2c2c;
}

.course-list-container, .course-list-container-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-button-next, .swiper-button-previous {
    top: -50px;
    color: black;
}

.slick-prev:before, .slick-next:before {
    color: black !important;
}

// @media only screen and (max-width: 1040px) {
//     .inner-container {
//         flex-direction: column;
//     }

//     .side-bar {
//       width: 95%;
//     }
// }