/* ----------------- START :: Container styles ---------------------- */
.background-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #d9e2cb;
}

.inner-container {
    margin: auto;
    width: 90%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 12px;
    border: 20px solid rgba(230, 235, 222, 0.5);
    backdrop-filter: blur(20px) saturate(100%);
}

.side-bar {
    width: 20%;
}

.main-stage-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}
/* ----------------- END :: Container styles ---------------------- */
li-header {
    position: sticky;
    top: 0;
    z-index: 10000;
    background-color: white;
}

li-banner {
    width: 100%;
}

/* ----------------- START :: Course styles ---------------------- */
.courses-container {
    margin-bottom: 40px;
    width: 100%;
    padding: 0 45px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.courses-heading-container {
    display: flex;
    justify-content: space-between;
    color: #2d2c2c;
}

.course-heading {
    font-size: 16px;
    font-weight: 600;
}

.slider-navigation-arrow {
    margin: 0 5px;
    color: #2d2c2c;
    font-size: 18px;
    cursor: pointer;
}

.course-list-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.course-container {
    width: 20%;
}
/* ----------------- END :: Course styles ---------------------- */

swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-button-next, .swiper-button-previous {
    top: -50px;
    color: black;
}

.slick-prev:before, .slick-next:before {
    color: black !important;
}