.container {
    margin: 250px 400px 100px 300px;
}

input {
    height: 30px;
    margin: 10px 10px 10px 220px;
}
  
button {
    margin: 30px 10px;
    cursor: pointer;
}

.boxContainer {
    display: flex;
    flex-direction: row;
}