.side-bar-container {
    width: 271px;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

lbk-logo {
    margin: 45px auto;
}

.heading-filter {
    font-size: 18px;
    margin: 310px 0 20px 45px;
    font-family: 'IBM Plex Sans', sans-serif;
    text-transform: uppercase;
    color: var(--text-color);
}

.sidebar-footer {
    margin: 280px 45px;
    font-size: 14px;
    color: var(--text-color);

    & div {
        margin-bottom: 10px;
        font-family: 'IBM Plex Sans', sans-serif;
        cursor: pointer;
    }
}