.banner-container {
    padding: 0 40px;
}

// Style for the banner image present in swiper-slide
swiper-slide > img {
    width: 100%;
    height: 100%;
}

/* ----------------- START :: Styling for pagination bullet present in swiper-slide ---------------------- */
swiper-container::part(bullet-active) {
    background-color: rgb(92, 124, 68);
}

swiper-container::part(bullet) {
    background-color: white;
}
/* ----------------- END :: Styling for pagination bullet present in swiper-slide ---------------------- */

