.container {
    padding: 0 40px;
}

.dummy  {
    .swiper-pagination-bullet-active {
        background: blueviolet !important;
    }
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    background-color: blueviolet !important;
}
swiper-slide > img {
    width: 100%;
    height: 100%;
}

// .swiper-pagination-bullet {
//     background: white !important;
// }

// .swiper-pagination-bullet-active {
//     background: white !important; 
// }

// .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
//     background: rgb(251, 255, 0);
//   }
  
// .swiper-pagination-bullet-active {
//     background: rgb(92, 124, 68);
// }

// .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
//     background: rgb(124, 68, 75) !important;
// }

// .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
//     background: ;
// }

