<div class="course-outer-container">
    <div class="course-image">

    </div>
    <div class="course-details">
        <div class="course-title-rating-container">
            <div class="course-title"></div>
            <div class="course-rating"></div>
        </div>
        <div class="course-instructor-price-container">
            <div class="course-instructor-container">
                <div class="profile-img">
                    <!-- <li-profile-img></li-profile-img> -->
                </div>
                <div class="course-instructor-name">Mounika Murugeshan</div>
            </div>
            <div class="course-price">&dollar;290.5</div>
        </div>
    </div>
</div>

