<div class="courses-container">
    <div class="courses-heading-container">
      <div class="courses-heading">{{ courseHeading }}</div>
      <div>
        <i class="fa-solid fa-chevron-up fa-rotate-270 slider-navigation-arrow slider-prev-navigation-arrow" (click)="!disablePrevButton && onPrevClick()" [class.disabled]="disablePrevButton"></i>
        <i class="fa-solid fa-chevron-up fa-rotate-90 slider-navigation-arrow slider-next-navigation-arrow" (click)="!disableNextButton &&  onNextClick()" [class.disabled]="disableNextButton"></i>
      </div>
    </div>
    <div class="course-list-container">
      <div class="course-container" *ngFor="let singleCourse of courseDetailsDataToShow">
        <li-course [course]="singleCourse"></li-course>
      </div>
    </div>
</div>

<div class="no-results-found" *ngIf="courseDetailsDataToShow.length===0">
  {{ noResultFoundMsg }}
</div>
