/* You can add global styles to this file, and also import other style files */
@import '~swiper/swiper-bundle.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

// .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
//     background: rgb(124, 68, 75) !important;
// }

// .swiper-pagination {
//     background: aqua !important;
// }

// .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
//     background-image: url('./assets/images/Logo.png') !important;
// }

// span.swiper-pagination-bullet.swiper-pagination-bullet-active {
//     background-color: blue !important; 
//     opacity: 1 !important;
//   }

// span[part=pagination] {
//     background: aqua !important;
// }