/* You can add global styles to this file, and also import other style files */
@import '~swiper/swiper-bundle.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

// Style to hide scrollbar
@mixin hide-scrollbar() {
    ::-webkit-scrollbar {
        display: none;
    }
}
